/.ipynb_checkpoints
/Linear regression me.ipynb
/Linear Regression Using Python.ipynb
/Logistic Regression me titanic with outliers.ipynb
/Logistic Regression me titanic.ipynb
/MAIL_SPAM_countvectorizer_Pathak.ipynb
/MAIL_SPAM_tfidf_pathak.ipynb
/titanic_train.csv
/USA_Housing.csv
/fraudTest.csv
/fraudTrain.csv